<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1> Dashboard </h1>
    {% if files %}
        <ul>
            {% for file in files %}
                <li><a href="/download/{{ file }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No data</p>
    {% endif %}
    <hr>
    <h3>upload file</h3>
    <form action="/upload" method  = "post" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name = "file" id = "file" required>
        <button type = "submit">Upload</button>
    </form>
<script>
    const uploadForm = document.getElementById('uploadForm');
    const fileInput = document.getElementById('file');
    uploadForm.addEventListener('submit', async(event)=>{
        event.preventDefault();
        if(fileInput.files.length===0) {
            alert("no file selected");
            return;
        }
    const file = fileInput.files[0];
        const encryptionKey = window.encryptionKey;
        if(!encryptionKey) {
            alert("enc key not found");
            return;
        }
        try{
            const fileBuffer = await file.arrayBuffer();
            const iv = crypto.getRandomValues(new Uint8Array(12));
            const encryptedFileBuffer = await crypto.subtle.encrypt(
                {
                    name: "AES-GCM",
                    iv: iv,
                },
                encryptionKey,
                fileBuffer
            );
            const combinedBuffer = new Blob([iv, new Uint8Array(encryptedFileBuffer)]);
            const formData = new FormData();
            formData.append('file', combinedBuffer, file.name);
            const response = await fetch('/upload', {method: 'POST', body: formData});
            if(response.ok) {
                window.location.reload();
            } else {
                alert("upload failed");
            }
        }catch(error){
            alert("error during encryption or upload")
        }
    })
</script>
</body>
</html>